@media (max-width: 3840px) {

}

@media (max-width: 1728px) {

  .footer__buttons-wrapper {
    gap: 1rem;
  }
}

@media (max-width: 1024px) {

  html {
    font-size: calc(100vw / 1024 * 10);
  }

  .container {
    max-width: 92.4rem;
    margin: 0 auto;
    padding: 0;
  }

  .header-position {
    margin-bottom: 4rem;
  }

  .header__wrapper {
    padding: 2.6rem 0 2.4rem 0;
  }

  .header__box {
    flex-basis: 61.7rem;
    align-items: center;
  }

  .header__burger-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0 23.1rem 0 5rem;
    background: #ffffff;
    z-index: 100;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 3rem;
    height: 2.3rem;
    margin-top: 3.6rem;
  }

  .header__burger::after {
    position: absolute;
    content:"";
    left: -.5rem;
    top: -.5rem;
    right: -.5rem;
    bottom: -.5rem;
    outline: .2rem solid #FF9900;
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }

  .header__burger:focus-visible::after {
    opacity: 1;
  }

  .header__burger:active:not(:focus-visible) .header__burger-line  {
    background-color: #E1670E;
    transition: background-color 2s ease-in-out;
  }

  .header__burger:active:not(:focus-visible) .header__burger-line:nth-child(2) {
    transform-origin: right;
    transform: translateX(0.5rem);
    width: 2.5rem;
    transition: transform 2s ease-in-out, width 2s ease-in-out;
  }

  .header__burger:active:not(:focus-visible) .header__burger-line:nth-child(3) {
    transform-origin: right;
    transform: translateX(1.2rem);
    width: 1.8rem;
    transition: transform 2s ease-in-out, width 2s ease-in-out;
  }

  .header__burger-line {
    position: absolute;
    width: 3rem;
    height: .3rem;
    background-color:#000000;
    transition: all 3s ease-in-out;
  }

  .header__burger-line:nth-child(1) {
    top: .1rem;
  }

  .header__burger-line1-edited {
    transform-origin: left;
    transform: rotate(47deg);
  }

  .header__burger-line:nth-child(2) {
    top: 50%;
    transition: opacity 3s ease-in-out;
  }

  .header__burger-line2-edited {
    opacity: 0;
  }

  .header__burger-line:nth-child(3) {
    bottom: 0;
  }

  .header__burger-line3-edited {
    top: 2.3rem;
    transform-origin: left;
    transform: rotate(-48deg);
  }

  .header__aside {
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 3s ease-in-out;
  }

  .header__aside-active {
    width: auto;
    height: auto;
    visibility: visible;
    opacity: 1;
    margin-top: 12.6rem;
  }

  .header__aside-item {
    font-weight: 900;
    font-size: 2.4rem;
    margin-bottom: 6.2rem;
    color: #333333;
  }

  .header__aside-item:nth-child(5) {
    margin-bottom: 23.7rem;
  }

  .header__logo-wrapper {
    margin-left: 39rem;
  }

  .header__logo {
    width: 66%;
  }

  .header__nav {
    display: none;
  }

  .header__block-search {
    left: 89.8rem;
  }

  .header__block-search-style {
    left: 49.1rem;
  }

  .slider-position {
    margin-bottom: 3.6rem;
  }

  .slider__inner {
    padding: 16rem 7.7rem;
    background-size: cover;
  }

  .slider__title {
    font-weight: 800;
    font-size: 6rem;
    line-height: calc(73 / 60);
    margin-bottom: 1.5rem;
  }

  .h3-text {
    font-weight: 600;
    font-size: 2rem;
    line-height: calc(24.38 / 20);
    max-width: 66.5rem;
  }

  .slider__text {
    margin-bottom: 6rem;
  }

  .swiper {
    width: 92.4rem;
  }

  .swiper-slide-picture {
    width: 92.4rem;
    height: 66.8rem;
  }

  #swiper1 {
    background: url(../img/slider-picture1-1024px.png);
    background-size: cover;
  }

  #swiper2 {
    background: url(../img/slider-picture2-1024px.png);
    background-size: cover;

  }

  #swiper3 {
    background: url(../img/slider-picture3-1024px.png);
    background-size: cover;
  }

  .swiper-pagination {
  transform: translate(41.6rem, -2rem);
  }

  .description-position {
    margin-bottom: 8rem;
  }

  .desciption-text {
    margin-bottom: 5.8rem;
  }

  .more {
    flex-direction: column;
  }

  .more__section:nth-child(1) {
    background: url(../img/builder__mobile.jpg);
    background-size: 92.4rem 64rem;
    padding-top: 44.4rem;
  }

  .more__section:nth-child(2) .more__element {
    width: 100%;
    padding-left: 31.6rem;
  }

  .more__section-footer-content {
    padding-right: 4.8rem;
    gap: 21.8rem;
    padding-top: 5.2rem;
    padding-bottom: 5rem;

  }

  .more__button-wrapper {
    padding-top: 1.8rem;
  }

  .more__button {
    padding: 2.7rem 3.5rem 2.5rem 3.5rem;
  }

  .more__element:nth-child(1) {
    background-position-x: 7.6rem;
  }

  .more__element:nth-child(2) {
    background-position-x: 7.6rem;
  }

  .more__text-important {
    font-size: 2.4rem;
  }

  .working-methods-position {
    margin-bottom: 7.9rem;
  }

  .working-methods-style {
    background-repeat: no-repeat;
    background-position: 53.7rem 19.3rem;
    border-radius: 3.2rem;
  }

  .working-methods__container {
    background-repeat: no-repeat;
    background-position: 48.7rem 8.6rem;
    background-size: 47.3%;
  }

  .working-methods__list {
    margin-bottom: 5.3rem;
  }


  .working-methods__important {
    font-size: 2.4rem;
  }

  .working-methods__text {
    padding-right: 47.2rem;
    margin-bottom: 2.3rem;
  }

  .working-methods__picture-content-wrapper {
    top: 0.9rem;
    left: 48.7rem;
  }

  .working-methods__picture-content {
    width: 43.7rem;
    height: 69rem;
  }

  .working-methods__tab {
    margin-right: 0rem;
  }

  .working-methods__tab:nth-child(1) .working-methods__picture-content {
    background: url('../img/working-process__picture1-1024px.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .working-methods__tab:nth-child(2) .working-methods__picture-content {
    background: url('../img/working-process__picture2-1024px.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .working-methods__tab:nth-child(3) .working-methods__picture-content {
    background: url('../img/working-process__picture3-1024px.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .working-methods__tab:nth-child(4) .working-methods__picture-content {
    background: url('../img/working-process__picture4-1024px.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .working-methods__button:nth-child(1):not(:focus-visible):hover {
    background: #FF9900;
  }

  .working-methods__button:nth-child(2):not(:focus-visible):hover {
    background-color: #E5E5E5;

    color: #000000;
  }

  .working-methods__button:nth-child(2) {
    background-color:#E5E5E5;
    padding-right: 3.6rem;
  }

  .question-position {
    margin-bottom: 8.5rem;
  }

  .questions__subtitle {
    margin-bottom: 3.3rem;
  }

  .questions__accordion-item:nth-child(1) .questions__question .questions__item .questions__text {
    margin: 4.2rem 0 4rem 0;
    line-height: 143%;
  }

  .questions__accordion-item:nth-child(2) .questions__question .questions__item .questions__text {
    margin: 3rem 0 3.1rem 0;
    line-height: 155%;
  }

  .questions__accordion-item:nth-child(3) .questions__question .questions__item .questions__text {
    margin: 4.05rem 0 4.3rem 0;
    max-width: 69.2rem;
  }

  .questions__accordion-item:nth-child(4) .questions__question .questions__item .questions__text {
    margin: 3.25rem 0 3.1rem 0;
    max-width: 74.8rem;
    line-height: 149%;
  }

  .questions__accordion-item:nth-child(5) .questions__question .questions__item .questions__text {
    margin: 4.3rem 0 4rem 0;
  }

  .questions__text {
    max-width:75.5rem;
  }

  .footer__container:nth-child(1) {
    margin-right: 12.3rem;

  }

  .footer__container:nth-child(2) {
    margin-right: 0rem;
}

  .footer__container:nth-child(3) {
    display: none;
  }

  .footer__logo-wrapper {
    width: 117%;
  }

  .footer__subtitle {
    margin-bottom: 2.4rem;
  }

  .footer__input {
    width: 54.2rem;
    font-size: 1.6rem;
    margin-bottom: 2.2rem;
  }

  .footer__textarea {
    margin-bottom: 3rem;
    width: 54.2rem;
  }

  .footer__buttons-wrapper {
    gap: 2rem;
  }

  .footer__button {
    padding: 2rem 3.4rem 1.7rem 3.8rem;
  }

  .footer__container-right {
    display: none;
  }

  .footer__container-left {
    gap: 16.9rem;
  }

}

@media (max-width: 768px) {

  html {
    font-size: calc(100vw / 768 * 10);
  }

  .container {
    max-width: 66.8rem;
    margin: 0 auto;
  }

  .header-style {
    border-radius: 0 0 1.5rem 1.5rem;
  }

  .header-position {
    margin-bottom: 4.1rem;
  }

  .header__logo-wrapper {
    margin-left: 26rem;
  }

  .header__wrapper {
    padding: 1.1rem 0 .6rem 0;
  }

  .header__box {
    justify-content: initial;
    gap: 26.3rem;
  }

  .header__wrapper-gap .header__box{
    gap: 17.7rem;
  }

  .header__burger-wrapper {
    padding-top: 2.2rem;
  }

  .header__burger {
    margin-top: 0rem;
  }

  .header__block-search {
    left: 64rem;
    top: 0rem;

  }

  .header__block-search-style {
    left: 23.1rem;
    z-index: 100;
  }

  .header__block-search-text {
    width: 0rem;
    height: 0rem;
    visibility: hidden;
    opacity: 0;
    margin-top: 1.5rem;
    margin-right: 1.8rem;
    border: none;
    border-bottom: 0.1rem solid #CACACA;
    outline: none;
    transition: width 1s ease-in-out, height 1s ease-in-out,  visibility 1s ease-in-out, opacity 1s ease-in-out;
  }

  .header__block-search-text-active {
    width: 41.2rem;
    height: 2.3rem;
    visibility: visible;
    opacity: 1;
  }

  .header__picture-search {
    margin-top: .7rem;
  }

  .header__block-search-close-wrapper {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }

  .slider__inner {
    padding: 16rem 4rem;
    border-radius: 27px;
    background-size: cover;
  }

  .slider__title {
    font-size: 5rem;
    margin-bottom: 1.7rem;
  }

  .h3-text {
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.038rem;
  }

  .swiper {
    width: 66.8rem;
  }

  .swiper-slide-picture {
    width: 66.8rem;
    height: 66.2rem;
  }

  #swiper1 {
    background: url(../img/slider-picture1-768.png);
    background-size: cover;
  }

  #swiper2 {
    background: url(../img/slider-picture2-768.png);
    background-size: cover;

  }

  #swiper3 {
    background: url(../img/slider-picture3-768.png);
    background-size: cover;
  }

  .swiper-pagination {
    transform: translate(28.7rem, -1.7rem);
  }

  .desciption-text {
    margin-bottom: 5.4rem;
  }

  .more__section:nth-child(1) {
    background:url(../img/builder__mobile--768px.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 45.4rem;
    border-radius: 2.6rem;
  }
  .more__section:nth-child(2) .more__element {
    padding: 3.4rem 1.7rem 3.4rem 16.9rem;
  }

  .more__element {
    border-radius: 2.4rem;
  }

  .more__element:nth-child(1) {
    background-size: 11.3rem 16.5rem;
    background-position: 4rem 3.3rem;
  }

  .more__element:nth-child(2) {
    background-size: 11.2rem 16.5rem;
    background-position: 4rem 3.4rem;
  }

  .more__section-footer-content {
    gap: 4rem;
    padding-right: 3.9rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-left: 4rem;
  }

  .more__text-important {
    font-weight: 700;
    font-size: 2.3rem;
    letter-spacing: 0.03rem;
  }

  .more__text {
    max-width: 45.3rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
  }

  .more__button-wrapper {
    padding-top: 3.3rem;
  }

  .description-position {
    margin-bottom: 8.2rem;
  }

  .working-methods-position {
    margin-bottom: 4.9rem;
  }

  .working-methods__subtitle {
    margin-bottom: 4.8rem;
  }

  .working-methods__list {
    gap: 15.55rem;
  }

  .working-methods__tab:nth-child(1) {
    margin-bottom: 1.9rem;
  }

  .working-methods__tab:nth-child(2) {
    margin-bottom: 1.9rem;
  }
  .working-methods__tab:nth-child(3) {
    margin-bottom: 1.9rem;
  }

  .working-methods__tab:nth-child(4) {
    margin-bottom: 1.9rem;
  }

  .working-methods__important {
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    padding-top: 32.2rem;
  }

  .working-methods__text {
    display: none;
  }

  .working-methods__text-display-mobile {
    display: block;
    padding-right: 0rem;
  }


.working-methods__picture-content-wrapper {
  top: -0.2rem;
  left: 0rem;

}

.working-methods__picture-content {
  width: 66.8rem;
  height: 28.4rem;
  background-repeat: no-repeat;
}

.working-methods__tab:nth-child(1) .working-methods__picture-content {
  background: url('../img/working-process__picture1-768px.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.working-methods__tab:nth-child(2) .working-methods__picture-content {
  background: url('../img/working-process__picture2-768px.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.working-methods__tab:nth-child(3) .working-methods__picture-content {
  background: url('../img/working-process__picture3-768px.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.working-methods__tab:nth-child(4) .working-methods__picture-content {
  background: url('../img/working-process__picture4-768px.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.question-position {
  margin-bottom: 11.3rem;
}
.questions__item .questions__text {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.02rem;
}
.questions__control {
  width: 5rem;
  height: 5rem;
}
.questions__accordion-item:nth-child(2) .questions__question .questions__item .questions__text {
  max-width: 45rem;
}
.questions__accordion-item:nth-child(3) .questions__question .questions__item .questions__text {
  max-width: 46rem;
  margin-top: 3.15rem;
  margin-bottom: 3.2rem;
  line-height: 146%;
}
.questions__accordion-item:nth-child(3) .questions__question .questions__item .questions__control {
  margin-top: -0.8rem;
}
.questions__accordion-item:nth-child(4) .questions__question .questions__item .questions__text {
  max-width: 57rem;
  line-height: 153%;
}
.questions__accordion-item:nth-child(5) .questions__question .questions__item .questions__text {
  margin-top: 3.15rem;
  margin-bottom: 3.2rem;
  line-height: 153%;
}
.questions__accordion-item:nth-child(5) .questions__question .questions__item .questions__control {
  margin-top: -1.5rem;
}
.footer__container:nth-child(1) {
  display: none;
}
.footer {
  padding: 0 0 5rem 0;
}
.footer__icons-wrapper_display {
  display: flex;
}
.footer__buttons-wrapper {
  gap: 2rem;
}
.footer__button {
  padding: 1.8rem 3.5rem 1.7rem 3.6rem;
}
.footer__logo-wrapper_display {
  display: block;
  margin-bottom: 1.3rem;
  width: 22.4rem;
}
.footer__logo {
  width: 100%;
  margin-bottom: 0rem;
}

@media (max-width: 320px) {

html {
  font-size: calc(100vw / 320 * 10);
}

.container {
  margin: 0 1.5rem;
  width: 28.8rem;
}

.header-position {
  margin-bottom: 2.9rem;
}

.header__wrapper {
  padding-top: 1.6rem;
  padding-bottom: 1.4rem;
}

.header__box {
  flex-basis: 3.2rem;
  gap: 9.4rem;
}

.header__burger-wrapper {
  padding: 2.3rem 0 0 1.5rem;
}

.header__burger {
  cursor: pointer;
  margin-top: 0;
}

.header__aside-active {
  padding-right: 21.9rem;
}

.header__aside-wrapper {
  width: 32rem;
  height: 40.7rem;
}

.header__aside-item {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: calc(19.5 / 16);
  margin-bottom: 3.2rem;
}

.header__block-search {
  height: 6rem;
  padding-left: 0;
  left: 26rem;
  top: 0.7rem;
}
.header__block-search-style {
  left: 1.4rem;
}

.header__block-search-text::placeholder {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: calc(19.5 / 16);
}

.header__picture-search {
  margin-top: 0rem;
}

.header__block-search-style {
  z-index: 100;
}

.header__block-search-text {
  margin-top: 0rem;
  margin-right: 1.7rem;
}

.header__block-search-text-active {
  width: 22.2rem;
  margin-right: 0rem;
}

.header__block-search-close-wrapper {
  display: none;
  margin-left: 2rem;
}

.header__block-search-close-wrapper-active {
  display: block;
  margin-left: 2rem;
}

.header__block-search-close-wrapper svg {
  margin-top: -1.7rem;
}


.header__logo-wrapper {
  width: 11rem;
  margin-left: 9.2rem;
}
.header__logo {
  width: 100%;
}

.slider-position {
  margin-bottom: 5.8rem;
}

.slider__inner {
  padding: 6rem 0 6.2rem 0.3rem;
  border-radius: 1.6rem;
  background-repeat: no-repeat;
}

.slider__box {
  text-align: center;
  letter-spacing: 0.038rem;
}

.slider__title {
  font-size: 2rem;
  line-height: calc(24.38 / 20);
  margin-bottom: .8rem;
}

.slider__text {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: calc(14.62 / 12);
  letter-spacing: 0;
  margin-bottom: 3.3rem;
  letter-spacing: 0rem;
}

.slider__button {
  font-size: 1.2rem;
  line-height: calc(14.63 / 12);
  padding: 1.3rem 2.8rem;
  border-radius: .5rem;
}

.swiper {
  width: 29rem;
}

.swiper-slide-picture {
  width: 29rem;
  height: 30.8rem;
}

#swiper1 {
  background: url("../img/slider-picture1-320px.png");
  background-size: cover;
}

#swiper2 {
  background: url(../img/slider-picture2-320px.png);
  background-size: cover;

}

#swiper3 {
  background: url(../img/slider-picture3-320px.png);
  background-size: cover;
}

.swiper-pagination {
  transform: translate(10.5rem, -0.4rem);
  gap: 1.1rem;
}

.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
}

.subtitle {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: calc(29.26 / 24);
}

.description-position {
  margin-bottom: 6.3rem;
}

.description__subtitle {
  margin-bottom: 2rem;
}

.text {
  line-height: 200%;
  font-size: 1.4rem;
}

.desciption-text {
  margin-bottom: 1.5rem;
}

.more__section:nth-child(1) {
  background: url("../img/builder__mobile--320px.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0;
  padding-top: 0;
}

.more__section-footer-content {
  flex-wrap: wrap;
  gap: 0;
  background: none;
  padding: 20.8rem 0 0 0;
}

.more__text {
  letter-spacing: 0;
}



.more__button-wrapper {
  padding-top: 1.3rem;
}

.more__button {
  font-size: 1.2rem;
  line-height: calc(14.6px / 12);
  color: #FF9900;
  border-radius: .6rem;
  padding: 1.6rem 4.1rem;
}

.more__section:nth-child(2) .more__element {
  padding: 6.2rem 0 0 0;
}

.more__section:nth-child(2) .more__element:nth-child(2) {
  padding: 6.1rem 0 0 0;
}

.more__element {
  border: none;
}

.more__element:nth-child(1) {
  background: url("../img/picture_box--mobile-version.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.more__element:nth-child(2) {
  background: url("../img/gear__picture--mobile-version.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.more__text-important {
  font-size: 1.7rem;
  letter-spacing: 0;
  margin-bottom: .3rem;
  line-height: 131%;

}

.working-methods-position {
  margin-bottom: 6rem;
}


.working-methods__subtitle {
  letter-spacing: 0rem;
  margin-bottom: 2rem;
}

.working-methods__list {
  margin-bottom: 1.5rem;
  gap: 4.45rem;
}

.working-methods__item {
  font-size: 1.4rem;
  line-height: calc(17 / 14);
}

.working-methods__item:nth-child(1) {
  transform: translateX(.6rem);
}

.working-methods__important {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(32 / 18);
  margin-bottom: 1rem;

  padding-top: 17.6rem;
}

.working-methods__text {
  display: block;
  padding-right: 0;
  margin-bottom: 2.4rem;
}

.working-methods__text-display-mobile {
  display: none;
}

.working-methods__text-small-letter-spacing {
  letter-spacing: -0.02rem;
}

.working-methods__picture-content-wrapper {
  top: -0.1rem;
  left: 0rem;

}

.working-methods__picture-content {
  width: 29rem;
  height: 16rem;
}

.working-methods__tab:nth-child(1) .working-methods__picture-content {
  background: url('../img/working-process__picture1-320px.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.working-methods__tab:nth-child(2) .working-methods__picture-content {
  background: url('../img/working-process__picture2-320px.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.working-methods__tab:nth-child(3) .working-methods__picture-content {
  background: url('../img/working-process__picture3-320px.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.working-methods__tab:nth-child(4) .working-methods__picture-content {
  background: url('../img/working-process__picture4-320px.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.working-methods__buttons-wrapper {
  gap: 1rem;
}

.working-methods__button {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.3rem 4.4rem;
  border-radius: .7rem;
}


.working-methods__button:nth-child(2) {
  padding: 1.2rem 3rem;
}

.question-position {
  margin-bottom: 5.9rem;
}

.questions__subtitle {
  margin-bottom: 1.5rem;
}

.questions__item .questions__text {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: calc(24 / 14);
  margin: 3.05rem 0 2.8rem 0;
}

.questions__accordion-item:nth-child(1) .questions__question .questions__item .questions__text {
  margin: 3rem 0;
  line-height: calc(24 / 14);
  letter-spacing: 0.01rem;
}

.questions__accordion-item:nth-child(2) .questions__question .questions__item .questions__text {
  display: block;
  margin: 2.7rem 0;
  line-height: calc(24.5 / 14);
  letter-spacing: 0;
}

.questions__accordion-item:nth-child(2) .questions__question .questions__item .questions__control {
  width: 6.5rem;
  margin-top: -0.2rem;
  margin-right: -0.4rem;
}

.questions__accordion-item:nth-child(3) .questions__question .questions__item .questions__text {
  display: block;
  max-width: 22rem;
  margin: 3rem 0;
  line-height: calc(24 / 14);
  letter-spacing: 0;
}

.questions__accordion-item:nth-child(3) .questions__question .questions__item .questions__control {
  width: 3.2rem;
  margin-top: 0.2rem;
  margin-right: -0.4rem;
}

.questions__accordion-item:nth-child(2) .questions__question .questions__item .questions__text-mobile-768px {
  display: none;
}

.questions__accordion-item:nth-child(3) .questions__question .questions__item .questions__text-mobile-768px {
  display: none;
}

.questions__accordion-item:nth-child(4) .questions__question .questions__item .questions__text {
  display: none;
  margin: 3rem 0 2.8rem 0;
  line-height: calc(24 / 14);
}

.questions__accordion-item:nth-child(5) .questions__question .questions__item .questions__text {
  line-height: 166%;
  letter-spacing: 0;
}

.questions__accordion-item:nth-child(5) .questions__question .questions__item .questions__control {
  width: 5rem;
  margin-right: -0.3rem;
  margin-top: 0.2rem;
}

.questions__accordion-item:nth-child(4) .questions__question .questions__item .questions__text-mobile-768px {
  display: block;
  line-height: 173%;
  letter-spacing: 0;
}

.questions__accordion-item:nth-child(1) .questions__question .questions__item .questions__control {
  height: 5rem;
  width: 4.3rem;
  margin-top: -0.4rem;
  margin-right: -0.2rem;
}


.footer {
  padding-bottom: 2.5rem;
}

.footer__inner {
  padding: 3.4rem 0 2.2rem 0;
  border-bottom: .1rem solid #414141;
  margin-bottom: 1.6rem;
}

.footer__container:nth-child(1) {
  display: none;
}
.footer__subtitle {
  margin-bottom: 1.7rem;
}
.footer__input, .footer__textarea {
  width: 29rem;
  padding: 0 1.8rem;
  font-size: 1.4rem;
  line-height: calc(32 / 14);
}
.footer__textarea {
  padding-top: 1.3rem;
  margin-bottom: 2.5rem;
}
.footer__buttons-wrapper {
  flex-direction: column;
  gap: 1.8rem;
}

.footer__button {
  font-size: 1.2rem;
  padding: 1rem 2.4rem 1.2rem 2.6rem;
  border-radius: .8rem;
}
.footer__logo-wrapper_display {
  display: block;
  width: 45%;
  margin: 0 auto;
}
.footer__icons-wrapper_display {
  display: flex;
  gap: 0;
  justify-content: center;
  transform: translate(.8rem, 0.5rem);
}

.footer__icon-wrapper:nth-child(1) {
  transform: translateX( -1.5rem);
}

.footer__icon-wrapper svg {
  width: 4rem;
}
