@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/Muller/MullerRegular.woff2') format('woff2'),
        url('../fonts/Muller/MullerRegular.woff') format('woff'),
        url('../fonts/Muller/MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.520835vw;
  font-style: normal;
  font-weight: 400;
  text-rendering: auto;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  background: #E5E5E5;
  margin: 0;
}
h1, h2, h3, ul, p, figure {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 179.4rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}
.header-style {
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 3.2rem 3.2rem;
}
.header-position {
  margin-bottom: 4.7rem;
}
.header__logo-wrapper {
  outline: none;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0;
}
.header__box {
  display: flex;
  justify-content: space-between;
  flex-basis: 148.5rem;
}

.header__logo {
  width: 22.5rem;
}
.header__burger-wrapper {
  display: none;
}
.header__nav {
  display: flex;
  gap: 8.5rem;
  align-self: center;
}
.header__item {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 122%;
  outline: none;
  transition: outline 2s ease-in-out;
}
.header__item::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  outline: .2rem solid #FF9900;
  outline-offset: .5rem;
  transition: opacity 2s ease-in-out;
  opacity: 0;
}

.header__item:focus-visible::before {
  opacity: 1;
}

.header__item::after {
  content:"";
  position: absolute;
  top: 2.5rem;
  left: 0;
  background-color: #FF9900;
  width: 100%;
  height: .2rem;
  opacity: 0;
}

.header__item:hover:not(:focus-visible)::after {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.header__item:active:not(:focus-visible) {
  color: #E1670E;
  transition: color 2s ease-in-out;
}

.header__item:active:not(:focus-visible)::after {
  content:"";
  position: absolute;
  top: 2.5rem;
  left: 0;
  background-color: #E1670E;
  width: 100%;
  height: .2rem;
  transition: background-color 2s ease-in-out;
}

.header__block-search {
  position: absolute;
  top: 2.3rem;
  left: 177rem;
  display: flex;
  background: #ffffff;
  height: 6rem;
  padding: 1.6rem 0rem 1.8rem 3.2rem;
  transition: left 1s ease-in-out;
}

.header__block-search-style {
  left: 136rem;
}

.visually-hidden {
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  visibility: visible;
  opacity: 0;

}


.header__block-search-text {
  width: 0rem;
  height: 0rem;
  visibility: hidden;
  opacity: 0;
  margin-top: .4rem;
  margin-right: 1.4rem;
  border: none;
  border-bottom: .1rem solid #CACACA;
  outline: none;
  transition: width 1s ease-in-out, height 1s ease-in-out,  visibility 1s ease-in-out, opacity 1s ease-in-out;
}

.header__block-search-text-active {
  display: block;
  width: 41.2rem;
  height: 2.3rem;
  visibility: visible;
  opacity: 1;
}

.header__block-search-text::placeholder {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: calc(21.94 / 18);
}

.header__picture-search-wrapper {
  position: relative;
  display: block;
}

.header__picture-search-wrapper::after {
  position: absolute;
  content:"";
  left: -.4rem;
  top: -.4rem;
  right: -.4rem;
  bottom: -.4rem;
  outline: .2rem solid #FF9900;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.header__picture-search-wrapper:focus-visible::after {
  opacity: 1;
}

.header__picture-search-wrapper:hover:not(:focus-visible) rect {
  fill: #FF9900;
  transition: fill 1s ease-in-out;
}

.header__picture-search-wrapper:hover:not(:focus-visible) path {
  stroke: #FF9900;
  transition: stroke 1s ease-in-out;
}

.header__picture-search-wrapper:active:not(:focus-visible) rect {
  fill: #FF9900;
  transition: fill 1s ease-in-out;
}

.header__picture-search-wrapper:active:not(:focus-visible) path {
  stroke: #FF9900;
  transition: stroke 1s ease-in-out;
}

.header__picture-search-wrapper svg {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}

.header__block-search-close-wrapper {
  width: 0rem;
  height: 0rem;
  visibility: hidden;
  opacity: 0;
  position: relative;
  margin-left: 2rem;
  margin-top: -0.1rem;
  transition: width 1s ease-in-out, height 1s ease-in-out,  visibility 1s ease-in-out, opacity 1s ease-in-out;
}

.header__block-search-close-wrapper-active {
  display: block;
  width: auto;
  height: auto;
  visibility: visible;
  opacity: 1;
}

.header__block-search-close-wrapper::after {
  position: absolute;
  content:"";
  left: -.4rem;
  top: -.4rem;
  right: -.4rem;
  bottom: -.4rem;
  outline: .2rem solid #FF9900;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.header__block-search-close-wrapper:focus-visible::after {
  opacity: 1;
}

.header__block-search-close-wrapper:hover:not(:focus-visible) rect {
  fill: #FF9900;
  transition: fill 1s ease-in-out;
}

.header__block-search-close-wrapper:hover:not(:focus-visible) circle {
  stroke: #FF9900;
  transition: stroke 1s ease-in-out;
}

.header__picture-search-close-wrapper:active:not(:focus-visible) rect {
  fill: #000000;
  transition: stroke 1s ease-in-out;
}

.header__picture-search-close-wrapper:active:not(:focus-visible) circle {
  stroke: #000000;
  transition: stroke 1s ease-in-out;
}

.header__block-search-close-wrapper svg {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}

.slider {
  position: relative;
}

.slider-position {
  margin-bottom: 5rem;
}

.slider__inner {
  padding: 10rem 82.9rem 10rem 8rem;
  border-radius: 3.2rem;
  background-size: cover;
}

.slider__title {
  position: relative;
  font-weight: 800;
  font-size: 7rem;
  line-height: 122%;
  color: #FFFFFF;
  margin-bottom: 2.4rem;
  z-index: 2;
}

.h3-text {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 122%;
  letter-spacing: 0.02rem;
}

.slider__text {
  position: relative;
  margin-bottom: 8.9rem;
  color: #FFFFFF;
  z-index: 2;
}

.slider__button {
  position: relative;
  color:#E5E5E5;
  background-color:#FF9900;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 122%;
  padding: 2.5rem 3.7rem;
  border-radius: 1.5rem;
  border: none;
  transition: background-color 1s ease-in-out;
  outline: none;
  z-index: 2;
}

.slider__button:focus-visible {
  background-color:#FFB84D;
}

.slider__button:hover {
  background-color:#FFB84D;
}

.slider__button:active:not(:focus-visible) {
  background-color:#E1670E;
}

.swiper {
  width: 177rem;
  position: absolute;
  top: 0;
  z-index: 1;
}

.swiper-slide-picture {
  width: 177rem;
  height: 62rem;
  z-index: 1;
}

#swiper1 {
  background: url(../img/slider-picture1-1920px.png);
  background-size: cover;
}

#swiper2 {
  background: url(../img/slider-picture2-1920px.png);
  background-size: cover;

}

#swiper3 {
  background: url(../img/slider-picture3-1920px.png);
  background-size: cover;
}

.swiper-pagination {
  display: flex;
  transform: translate(84rem, -2.1rem);
  gap: 1.1rem;
}
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

.subtitle {
  color: #000000;
  font-weight: 300;
  font-size: 4.8rem;
  line-height: calc(58.51 / 48);
}
.description-position {
  margin-bottom: 9.8rem;
}
.description__subtitle {
  margin-bottom: 2rem;
}
.text {
  line-height: 200%;
}
.desciption-text {
  font-size: 1.6rem;
  max-width: 123.5rem;
  margin-bottom: 5rem;
}
.more {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
}
.more__section:nth-child(1) {
  background: url(../img/builder.png);
  background-size: 86.8rem 62.2rem;
  background-repeat: no-repeat;
  border-radius: 3.2rem;
  padding-top: 42.6rem;
}

.more__section-footer-content {
  display: flex;
  gap: 16rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 5rem 5rem 5.2rem 5rem;
  border-radius: 3.2rem;
}

.more__text {
  font-size: 1.6rem;
  line-height: 200%;
  letter-spacing: 0.038rem;
  max-width: 43.3rem;
}

.more__section-footer-content .more__text {
  color: #FFFFFF;
}

.more__button-wrapper {
  padding-top: 2rem;
}

.more__button {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: calc(19.5px / 16);
  background-color: rgba(0, 0, 0, 0);
  border: .3rem solid #FF9900;
  border-radius: 1.6rem;
  padding: 2.5rem 3.5rem;
  color:#FFFFFF;
  outline: none;
  transition: background-color 1s ease-in-out;
}

.more__button:focus-visible {
  background-color: #FF9900
}

.more__button:hover:not(:focus-visible) {
  background-color: #FF9900
}

.more__button:active:not(:focus-visible) {
  background-color:#E1670E;
}

 .more__section:nth-child(2) {
  flex-basis: calc(100% - 900px);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.more__section:nth-child(2) .more__element {
  padding: 6.4rem 11.7rem 6.5rem 30rem;
}

.more__section:nth-child(2) .more__text {
  letter-spacing: 0;
}

.more__element {
  border: 1px solid #CACACA;
  border-radius: 3.2rem;
}

.more__element:nth-child(1) {
  width: 87rem;
  background: url(../img/picture_box.svg);
  background-size: 19rem 16.5rem;
  background-repeat: no-repeat;
  background-position: 5.9rem 6.5rem;
}

.more__element:nth-child(2) {
  width: 87rem;
  background: url(../img/gear__picture.svg);
  background-size: 19rem 16.5rem;
  background-repeat: no-repeat;
  background-position: 5.9rem 6.5rem;
}

.more__text-important {
  margin-bottom: .8rem;
}

.working-methods-position {
  margin-bottom: 11rem;
}

.working-methods__subtitle {
  margin-bottom: 5rem;
}

.working-methods__list {
  display: flex;
  gap: 8.6rem;
  margin-bottom: 4.8rem;
}

.working-methods__item {
  font-size: 1.8rem;
  line-height: calc(21.94 / 18);
}

.working-methods__item-inner {
  position: relative;
  outline: none;
  transition: color 1s ease-in-out;
}

.working-methods__item-inner::before {
  position: absolute;
  content:"";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 2px solid #FF9900;
  outline-offset: .5rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.working-methods__item-inner:focus-visible:before {
opacity: 1;
}

.working-methods__item-inner:hover:not(:focus-visible) {
  color:#FF9900;
}

.working-methods__item-inner:active:not(:focus-visible) {
  color:#E1670E;
}

.working-methods__item-active {
  color: #E1670E;
}

.working-methods__tab-wrapper {
  position: relative;
}

.working-methods__tab {
  display: none;
  margin-right: 102rem;
}

.working-methods__tab:nth-child(1) {
  margin-bottom: 1.9rem;
}

.working-methods__tab:nth-child(2) {
  margin-bottom: 14.7rem;
}

.working-methods__tab:nth-child(3) {
  margin-bottom: 5.1rem;
}

.working-methods__tab:nth-child(4) {
  margin-bottom: 14.7rem;
}

.working-methods__tab-active {
  display: block;
}

.working-methods__important {
  margin-bottom: .8rem;
}

.working-methods__text {
  font-size: 1.6rem;

}

.working-methods__text-display-mobile {
  display: none;
}

.working-methods__picture-content-wrapper {
  position: absolute;
  top: 0.9rem;
  left: 90rem;
  width: auto;
}

.working-methods__picture-content {
  display: block;
  width: 87rem;
  height: 46rem;

}

.working-methods__tab:nth-child(1) .working-methods__picture-content {
  background: url('../img/working-process__picture1-1920px.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.working-methods__tab:nth-child(2) .working-methods__picture-content {
  background: url('../img/working-process__picture2-1920px.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.working-methods__tab:nth-child(3) .working-methods__picture-content {
  background: url('../img/working-process__picture3-1920px.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.working-methods__tab:nth-child(4) .working-methods__picture-content {
  background: url('../img/working-process__picture4-1920px.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.working-methods__buttons-wrapper {
  display: flex;
  gap: 3.1rem;
}

.working-methods__button {
  font-size: 1.6rem;
  padding: 2rem 3.95rem;
  border: none;
  border-radius: 1.6rem;
}

.working-methods__button:nth-child(1) {
  background: #FF9900;
  color: #ffffff;
  outline: none;
  transition: background-color 1s ease-in-out;
}

.working-methods__button:nth-child(1):focus-visible {
  background: #FFB84D;
}

.working-methods__button:nth-child(1):hover:not(:focus-visible) {
  background: #FFB84D;
}

.working-methods__button:nth-child(1):active:not(:focus-visible) {
  background: #E1670E;
}

.working-methods__button:nth-child(2) {
  background-color: #E5E5E5;
  border: .1rem solid #000000;
  outline: none;
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.working-methods__button:nth-child(2):focus-visible {
  background-color: #666666;
  color: #ffffff;
}

.working-methods__button:nth-child(2):not(:focus-visible):hover {
  background-color: #666666;
  color: #ffffff;
}

.working-methods__button:nth-child(2):not(:focus-visible):active {
  background: #000000;
  color: #ffffff;
}

.question-position {
  margin-bottom: 9.9rem;
}

.questions__subtitle {
  margin-bottom: 3.5rem;
}

.questions__accordion-item {
  outline: none;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  transition: border 1s ease-in-out;
}

.questions__accordion-item:focus-visible {
  border-color: #FF9900;
}

.questions__accordion-item:hover:not(:focus-visible) {
  border-color: #FF9900;
}

.questions__accordion-item:active {
  border-color: #000000;
}

.questions__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  transition: color 1s ease-in-out;
}

.questions__item:focus-visible ellipse {
  fill: #FF9900;
}

.questions__item:focus-visible path {
  fill: #FFFFFF;
}

.questions__item:focus-visible {
  color: #FF9900;
}

.questions__item:hover:not(:focus-visible) {
  color: #FF9900;
}

.questions__item:hover :not(:focus-visible) ellipse {
  fill: #FF9900;
}

.questions__item:hover:not(:focus-visible) path {
  fill: #FFFFFF;
}

ellipse, path {
  transition: fill 1s ease-in-out;
}

.questions__control {
  width: 5rem;
  transition: transform 0.5s ease-in-out;
}

.questions__text {
  font-size: 2.4rem;
  margin: 4.05rem 0;
}

.questions__text-mobile-768px {
  display: none;
}

.questions__answer {
  overflow: hidden;
}

.questions__answer-active:focus-visible {
  border-color:#000;
}

.questions__answer-active:hover:not(:focus-visible) {
  border-color:#000;
}

.questions__answer-active:active {
  border-color:#000;
}

.questions__answer-active .questions__question .questions__item {
  color: #000;
}

.questions__answer-active .questions__question .questions__item .questions__control ellipse {
  fill: #CACACA;
}

.questions__answer-active .questions__question .questions__item .questions__control path {
  fill: #000;
}

.questions__answer-active .questions__question .questions__item .questions__control {
  transform-origin: center;
  transform: rotate(45deg);
}

.questions__answer-text {
  font-size: 1.6rem;
  line-height: 200%;
  max-width: 100.3rem;
}

.footer-style {
  background: #000000;
}

.footer__inner {
  display: flex;
  padding: 5rem 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__container:nth-child(1) {
  min-width: 25.8rem;
  margin-right: 34.1rem;
}

.footer__logo {
  margin-bottom: 1.6rem;
}

.footer__logo-wrapper {
  outline: none;
}

.footer__logo-wrapper_display, .footer__icons-wrapper_display {
  display: none;
}

.footer__nav {
  margin-bottom: 9.1rem;
}

.footer__item {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 200%;
  color: #CACACA;
}

.footer__item-inner {
  position: relative;
  outline: none;
  transition: opacity 1s ease-in-out, color 1s ease-in-out;
}

.footer__item-inner::before {
  position: absolute;
  content:"";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 2px solid #FF9900;
  outline-offset: .5rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.footer__item-inner:focus-visible::before {
  opacity: 1;
}

.footer__item-inner:hover:not(:focus-visible) {
  color: #FF9900;
}

.footer__item-inner:active:not(:focus-visible) {
  color: #E1670E;
}

.footer__icons-wrapper {
  display: flex;
  gap: 2.5rem;
}

.footer__icon-wrapper {
  position: relative;
  display: block;
  outline: none;
  transition: fill 1s ease-in-out;
}

.footer__icon-wrapper svg {
  width: 6rem;
}

.footer__icons-wrapper_display, .footer__logo-wrapper_display {
  display: none;
}

.footer__icon-wrapper:before {
  position: absolute;
  content:"";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: .2rem solid #FF9900;
  outline-offset: 5px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.footer__icon-wrapper:focus-visible::before {
  fill: #FF9900;
  opacity: 1;
}

.footer__icon-wrapper:hover:not(:focus-visible) svg path {
  fill: #FF9900;
}

.footer__icon-wrapper:active:not(:focus-visible) svg path {
  fill: #E1670E;
}

.footer__icon {
  display: block;
}

.footer__subtitle {
  color: #CACACA;
  margin-bottom: 2.5rem;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__input {
  background: #414141;
  border-radius: 1.6rem;
  width: 57rem;
  height: 6.2rem;
  margin-bottom: 2.4rem;
  padding: 0 2.4rem;
  outline: none;
  color: #CACACA;
}

.footer__input:focus-visible {
  background: #666666;
}

.footer__input:hover:not(:focus-visible) {
  background: #666666;
}

.footer__input:active:not(:focus-visible) {
  background: #666666;
}

.footer__textarea {
  background: #414141;
  border-radius: 1.6rem;
  width: 57rem;
  height: 15rem;
  font-size: 1.6rem;
  resize: none;
  padding: 2rem 2.4rem;
  margin-bottom: 2.8rem;
  outline: none;
  color: #CACACA;
}

.footer__textarea:focus-visible {
  background: #666666;
}

.footer__textarea:hover:not(:focus-visible) {
  background: #666666;
}

.footer__textarea:active:not(:focus-visible) {
  background: #666666;
}

.footer__buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 1.9rem;
}

.footer__button {
  font-size: 1.6rem;
  padding: 2rem 5.2rem 1.6rem 5rem;
  background: #FF9900;
  border-radius: 1.6rem;
  font-weight: 700;
  line-height: calc(20 / 16);
  outline: none;
  color:#FFFFFF;
}

.footer__button:focus-visible {
  background:#FFB84D;
}

.footer__button:hover:not(:focus-visible) {
  background:#FFB84D;
}

.footer__button:active:not(:focus-visible) {
  background:#E1670E;
}

.footer__check {
  position: absolute;
  content: "";
  width: .1rem;
  height: .1rem;
  margin: -0.01rem;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer__text-wrapper::before {
  content:"";
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  border: .1rem solid #CACACA;
  border-radius: .2rem;
  flex-shrink: 0;
  background: inherit;
  transform: translateY(0.2rem);
}

.footer__check:checked+.footer__text-wrapper::before {
  background: #000000 url(../img/checked.png);
  background-repeat: no-repeat;
  background-position-y: .4rem;
}

.footer__text-wrapper {
  display: flex;
}

.footer__container:nth-child(2) {
  margin-right: 23.9rem;
}

.footer__container:nth-child(2) .footer__text {
  display: block;
  font-size: 1.6rem;
  margin-left: .4rem;
  max-width: 30rem;
  color: #CACACA;
}

.footer__container:nth-child(3) {
  flex-basis: 36.3rem;
  padding-top: 8.9rem;
  max-width: 36.3rem;
}

.footer__container:nth-child(3) .footer__text {
  display: block;
  font-size: 1.6rem;
  color: #CACACA;
  line-height: 199%;
}
